.container {
	display: flex;
	flex-direction: column;
	max-width: 1024px;
	margin: 100px auto;
	padding: 10px;
	text-align: center;
	font-size: 20px;
	box-sizing: border-box;
	border: 1px solid rgb(185, 73, 148);
	border-radius: 10px;
	background-color: aliceblue;
}

.emptyTodoList {
	font-weight: 700;
	margin-bottom: 25px;
}
