body {
	background-color:cornsilk;
}

.todoList{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin: 10px;
}

.todo {
	display: flex;
	justify-content: flex-start;
	max-width: 1024px;
	padding: 10px 20px;
	border: 1px solid rgb(185, 73, 148);
	border-radius: 10px;
	background-color: bisque;
	overflow: hidden;
}

.todo:hover {
	background-color:antiquewhite;
}


.todoText {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
