body {
	background-color:cornsilk;
}

.todoList{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin: 10px;
}

.todo {
	display: flex;
	justify-content: flex-end;
	align-items: stretch;
	max-width: 1024px;
	border: 1px solid rgb(185, 73, 148);
	border-radius: 10px;
	background-color: bisque;
	text-align: center;
}

.todo:hover {
	background-color:antiquewhite;
}


.todoText {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-e;
	align-items: center;
	padding: 10px;
	overflow-x: hidden;
}
